<!-- Favicon & App Icons -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="48x48" href="{{ '/assets/favicon/favicon-48.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="64x64" href="{{ '/assets/favicon/favicon-64.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}">
<link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | relative_url }}">
<link rel="shortcut icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}">
<meta name="theme-color" content="#0A2B4D">